<!--Admin Student Sign In Page-->
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
rel="stylesheet">
    <link rel="stylesheet" 
href="{% static 'QuizzDynamoApp/css/newadminstudentsigninstyles.css' %}">  
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-flex-start">
            <ul class="navbar-nav">
                  <li class="nav-item">
                       <a class="nav-link" 
                       href="{%url 'QuizzDynamoApp:Welcome'%}">Home</a>
                </li>
            </ul>
        </div>
        <nav class="navbar-brand">QuizzDynamo</nav>
         <div class="collapse navbar-collapse justify-content-end">
             <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" 
                    href="{%url 'QuizzDynamoApp:AdminAbout'%}">Admin About</a>
                </li>
        </div>
    </div>
  </nav>
 
 <div class="form-container">
        <div class="form-wrapper">
            {% block content %}
                    <form class="form-detail" method="post" action="{% url 'QuizzDynamoApp:AdminStudentSignInPage' %}">
    {% csrf_token %}
    <div class="form-headingdetail">
        <h2>Please Sign In</h2>
    </div>
    {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
                {% endif %}
    <div class="form-row">
        <div class="form-group">
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
    </div>
    <div class="form-row form-row-last">
    <input type="submit" class="register" value="Sign In">
    </div>
</form>
        {% endblock content %}
    </div>
</div>
 
<footer class="bg-dark text-white text-center text-lg-start fixed-bottom">
  <div class="container-fluid p-3 row justify-content-center">
    <div class="row">
     <div class="text-center">
       © Copyright: QuizzDynamo
     </div>
    </div>
  </div>
</footer>
</body>
</html>
