.custom-KeyPriorityDepartmentHeading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.columnDepartment {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columnKeyPriority,
.columnSave,
.columnDepartment{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 0 55px;
}

.buttonColumn {
    background-color: #008000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px; 
}

.buttonColumn:hover {
    background-color: #006400;
}

.question h2 {
    font-size: 16px; /* Adjust font size for the question text */
    margin-bottom: 10px; /* Add a bit more margin below each question */
}

/* Adjust radio button size */
input[type="radio"] {
    margin-right: 5px;
}

/* Arrange elements in two columns */
.question {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 10px; /* Increase the gap between elements */
}

/* Adjust space between questions and submit button */
form {
    margin-bottom: 20px; /* Add some margin at the bottom of the form */
}

/* Style submit button */
button[type="submit"] {
    margin-top: 20px; /* Add some space between the form and the button */
    padding: 10px 20px; /* Adjust button padding */
    font-size: 16px; /* Adjust button font size */
    background-color: #007bff; /* Set button background color */
    color: #fff; /* Set button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Add cursor pointer */
    margin-bottom: 40px;
}

/* Hover effect for submit button */
button[type="submit"]:hover {
    background-color: #0056b3; /* Darken the background color on hover */
}